@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}

/*-----------font-family
	font-family: 'Arvo', serif;
*/
.on-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.on-scroll {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-transform: uppercase;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}
.on-scroll::after {
  content: "";
  width: 13.9rem;
  height: 0.2rem;
  margin-left: 2rem;
  background-color: #000;
}

.obj-decoration {
  position: absolute;
  z-index: -1;
}

.d-table {
  display: table;
}

.heading {
  text-transform: uppercase;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  color: #939393;
  display: table;
  margin: auto;
  text-align: center;
}

.sub-heading {
  font-size: 3.13rem;
  color: #333333;
  font-weight: bold;
  display: table;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  padding: 0 1rem;
}
.sub-heading::after {
  content: "";
  width: 100%;
  height: 2rem;
  background-color: #ffee31;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(35%);
}

.num__title {
  font-size: 4.5rem;
  font-family: "Arvo", serif;
}

.text-blue2 {
  color: #34a2ff;
}

.text-green2 {
  color: #92d25e;
}

.text-green3 {
  color: #00a078;
}

.border--blue2 {
  border-color: #4482bb !important;
}

.border--green2 {
  border-color: #10a680 !important;
}

.border--orange2 {
  border-color: #f68a3b !important;
}

.ab--blue2::after, .ab--blue2::before {
  background-color: #4482bb !important;
}

.ab--green2::after, .ab--green2::before {
  background-color: #10a680 !important;
}

.ab--orange2::after, .ab--orange2::before {
  background-color: #f68a3b !important;
}

.p--description {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .p--description {
    font-size: 1.8rem;
  }
}

.vertical-fiexd-text {
  position: absolute;
  left: 0;
  top: 39.5rem;
  height: 500rem;
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  font-size: 40rem;
  color: #c9c9c9;
  letter-spacing: 0.3rem;
  line-height: 0.5;
  opacity: 0.2;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Arvo", serif;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .vertical-fiexd-text {
    top: 25.5rem;
    font-size: 20rem;
    letter-spacing: 10rem;
  }
}

.sub-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: -0.05rem;
}
@media screen and (max-width: 768px) {
  .sub-title {
    letter-spacing: 0;
    font-size: 1.6rem;
  }
}

.text--normal {
  font-weight: normal;
}

.under-background {
  position: absolute;
  z-index: -1;
}

.text--content {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid transparent;
}

.food-button {
  outline: none !important;
  border: 0.5rem solid #ed6d00;
  width: 31rem;
  height: 7rem;
  background-color: #fff;
  position: relative;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .food-button {
    width: 100%;
  }
}
.food-button::after, .food-button::before {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  border: 0.2rem solid #ed6d00;
  position: absolute;
  transform: translateY(-50%);
  background-color: white;
}
.food-button::after {
  right: 1.5rem;
  top: 50%;
}
.food-button::before {
  right: 1.8rem;
  top: 55%;
}
.food-button:hover {
  opacity: 0.8;
}

.to-top-button {
  position: fixed;
  width: 5rem;
  height: 5rem;
  background-color: #c01920;
  right: 13rem;
  bottom: 13rem;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 1020;
  transition: all 0.3s ease;
}
.to-top-button.active {
  display: flex;
}
@media screen and (max-width: 768px) {
  .to-top-button {
    right: 3rem;
    bottom: 3rem;
  }
}
.to-top-button span {
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
}
.to-top-button span:nth-child(1) {
  transform: translateX(0.4rem) rotate(-45deg);
}
.to-top-button span:nth-child(2) {
  transform: translateX(-0.4rem) rotate(45deg);
}
.to-top-button:hover {
  opacity: 0.8;
}

.contact-button {
  width: 100%;
  height: 6rem;
  outline: none !important;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .contact-button {
    display: flex;
  }
}
.contact-button span {
  font-size: 2rem;
  font-family: "Arvo", serif;
  margin-left: 2rem;
}

@-webkit-keyframes passing-bar {
  0% {
    left: 0;
    right: auto;
    width: 0;
  }
  50% {
    left: 0;
    right: auto;
    width: 100%;
  }
  51% {
    left: auto;
    right: 0;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}
@keyframes passing-bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@-webkit-keyframes passing-txt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes passing-txt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.passing {
  overflow: hidden;
}
.passing-bar {
  position: relative;
}
.passing-text {
  opacity: 0;
}
.passing-bar::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #ffee31;
}
.passing-bar.move::before {
  -webkit-webkit-animation: passing-bar 0.5s ease 0s 1 normal forwards;
  -moz-webkit-animation: passing-bar 0.5s ease 0s 1 normal forwards;
  -ms-webkit-animation: passing-bar 0.5s ease 0s 1 normal forwards;
  -o-webkit-animation: passing-bar 0.5s ease 0s 1 normal forwards;
  webkit-animation: passing-bar 0.5s ease 0s 1 normal forwards;
  animation: passing-bar 0.5s ease 0s 1 normal forwards;
}
.passing-text.move {
  -webkit-webkit-animation: passing-txt 0.5s ease 0s 1 normal forwards;
  -moz-webkit-animation: passing-txt 0.5s ease 0s 1 normal forwards;
  -ms-webkit-animation: passing-txt 0.5s ease 0s 1 normal forwards;
  -o-webkit-animation: passing-txt 0.5s ease 0s 1 normal forwards;
  webkit-animation: passing-txt 0.5s ease 0s 1 normal forwards;
  animation: passing-txt 0.5s ease 0s 1 normal forwards;
}

/*# sourceMappingURL=common.css.map */
