@charset "UTF-8";
@import 'functions_responsive.scss';

//----------------header

.header{
	width: calc(100% - 19rem);
	height: 10.7rem;
	display: flex;justify-content: space-between;align-items: center;
	padding-left: 5rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1030;
	&__logo{
		position: relative;
		padding:0 1rem;
		margin-right: auto;
		&:hover{
			opacity: .8;
		}
	}
}